<app-header></app-header>

<!-- Section About Us -->
<section id="about" class="min-h-screen py-12 bg-gradient-to-r from-gray-800 to-gray-900 flex items-center mt-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg text-white">
          <h2 class="text-3xl font-bold mb-4">Acerca de Nosotros</h2>
          <p class="mb-6">Somos DevTeam, un grupo de investigación y desarrollo de la Facultad de Ingeniería de la UPDS. Nuestro objetivo es fomentar la innovación y el aprendizaje en tecnología a través de proyectos que generen nuevos conocimientos y fortalezcan las habilidades de los estudiantes.</p>
          <a href="/projects" class="inline-block bg-teal-500 text-white font-semibold py-2 px-4 rounded-full transition-transform duration-300 transform hover:scale-105">Ir a Proyectos</a>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <img src="/assets/img/banner/banner2.jpeg" alt="Acerca de Nosotros DevTeam UPDS" class="w-full h-auto rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
      </div>
    </div>
  </div>
</section>

<!-- Section Mission, Vision, History -->
<section id="mission-vision-history" class="py-12 bg-gradient-to-r from-gray-800 to-gray-900">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- History -->
      <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 p-6 text-center">
        <div class="text-teal-500 mb-4">
          <i class="fas fa-history text-4xl"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-800">Nuestra Historia</h3>
        <p class="text-gray-600">DevTeam UPDS fue creado por estudiantes de la UPDS con el objetivo de fortalecer las habilidades de los estudiantes y aplicar nuestros conocimientos en proyectos reales. Con una pasión compartida por la tecnología, hemos construido una comunidad comprometida con la innovación y el aprendizaje continuo.</p>
      </div>
      <!-- Mission -->
      <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 p-6 text-center">
        <div class="text-teal-500 mb-4">
          <i class="fas fa-bullseye text-4xl"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-800">Misión</h3>
        <p class="text-gray-600">Nuestra misión es brindar un ambiente de colaboración donde los estudiantes puedan desarrollar sus habilidades técnicas, trabajar en proyectos desafiantes y prepararse para enfrentar los desafíos del mundo real en el campo de la tecnología.</p>
      </div>
      <!-- Vision -->
      <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 p-6 text-center">
        <div class="text-teal-500 mb-4">
          <i class="fas fa-eye text-4xl"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-800">Visión</h3>
        <p class="text-gray-600">Nuestra visión es convertirnos en un referente en el ámbito universitario, promoviendo la innovación, el emprendimiento y el desarrollo de soluciones tecnológicas que impacten positivamente en nuestra comunidad y en la sociedad en general.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section Leaders -->
<section id="leaders" class="min-h-screen py-12 bg-gradient-to-r from-gray-800 to-gray-900 flex items-center">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-white">Nuestros Líderes</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col items-center bg-gradient-to-r from-purple-500 to-blue-500 p-6 rounded-lg shadow-lg transition-shadow duration-300 hover:shadow-xl">
        <img src="/assets/img/profile/newProfile/ing_zambrana.jpeg" alt="Jaime Zambrana" class="w-32 h-32 rounded-full mb-4 object-cover">
        <div class="text-center">
          <h3 class="text-xl font-semibold mb-2 text-white">Jaime Zambrana</h3>
          <p class="text-gray-200">Ingeniero Jaime Zambrana, con una vasta experiencia en desarrollo de software y liderazgo de equipos técnicos. Jaime ha trabajado en numerosos proyectos de gran envergadura y es conocido por su enfoque innovador y su capacidad para motivar a su equipo.</p>
        </div>
      </div>
      <div class="flex flex-col items-center bg-gradient-to-r from-purple-500 to-blue-500 p-6 rounded-lg shadow-lg transition-shadow duration-300 hover:shadow-xl">
        <img src="/assets/img/profile/newProfile/roi.jpeg" alt="Roider Millares DevTeam Upds" class="w-32 h-32 rounded-full mb-4 object-cover">
        <div class="text-center">
          <h3 class="text-xl font-semibold mb-2 text-white">Roider</h3>
          <p class="text-gray-200">Roider   Millares, co-líder del equipo, es conocido por su pasión por la tecnología y su habilidad para resolver problemas complejos. Su dedicación y conocimientos han sido fundamentales para el éxito de nuestros proyectos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

