<app-header></app-header>
<section class="team-section mt-20">
  <div class="team-cover">
    <img src="/assets/img/foto8.jpeg" alt="Nuestro equipo" class="team-cover-img">
    <h2 class="team-cover-text">Nuestro equipo</h2> <!-- Cambiado a h2 -->
  </div>
  <div class="container mx-auto px-6 py-12">
    <h2 class="text-3xl font-semibold text-center text-gray-900 mb-8">Conoce a nuestro equipo de estudiantes de Ingeniería de Sistemas</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let member of paginatedMembers" class="team-member bg-gray-900 text-white p-6 rounded-lg text-center fade-in">
        <img [src]="member.imgSrc" [alt]="member.name" class="team-member-img mx-auto mb-4 rounded-full">
        <h3 class="team-member-name text-xl font-semibold">{{ member.name }}</h3>
        <p class="team-member-role text-teal-500">{{ member.role }}</p>
        <p class="color__text">{{ member.descripcion }}</p>
        <div class="social-icons mt-4">
          <a href="#" class="social-icon mx-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon mx-2"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="pagination mt-8 text-center">
      <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)" [class.active]="currentPage === i + 1" class="px-4 py-2 mx-1 border rounded">{{ i + 1 }}</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
