/* General Styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a202c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #38b2ac;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
  font-weight: bold; /* Texto más en negrita */
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #38b2ac;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 100%;
}

.nav-link:hover {
  color: #38b2ac;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    background-color: #1a202c;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    display: none;
    padding: 1rem;
    gap: 0.5rem;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
    z-index: 1000;
  }

  .nav.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start; /* Alineado al borde izquierdo */
    padding-left: 0;
    margin: 0;
  }

  .nav-link {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    text-align: left;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
